:root {
    --background-color: #E0FFFF;
    --caixa-principal: #B0E0E6;
    --title-color: #64969c;
    --font-family: "Inter";
    --title-size: 64px;
    --text-size: 20px;
}

body{
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0px;
    border: 0px;
    padding: 0px;
}